.container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 90px 90px 90px 90px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 90%;
  height: 500px;
  padding: 50px;
  margin-top: 55px;
  margin-left: 70px;
  gap: 90px;

  h1 {
    display: flex;
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  &__schedule {
    font-size: 22px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    &__details {
      margin-top: 30px;
      a {
        color: rgb(0, 0, 0);
      }
      p {
        margin: 15px 0;
        font-size: 22px;
      }
    }
  }

  &__image img {
    width: 600px;
    height: 400px;
  }
}

@media screen and (max-width: 767px) {
  .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;

    h1 {
      font-size: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__schedule {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 18px;
      margin-left: -20px;

      &__details {
        margin-top: 5px;
        strong {
          font-size: 15px;
        }
        a {
          font-size: 15px;
        }
      }
    }
    &__image {
      display: none;
    }
  }
}
